---
import DynamicProperties from '@/articles/DynamicProperties.astro'
import DynamicTitleCSS from '@/articles/DynamicTitleCSS.astro'
import UsesOfDataset from '@/articles/UsesOfDataset.astro'
import FaviconDependsOnTheBrowserTheme from '@/articles/favicon-depends-on-the-browser-theme.astro'
import { RenderMDX } from '@/components/index.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Ejemplos de CSS y AstroDB'>
  <main>
    <div class='scroll-loader'></div>
    <header class='header'>
      <h1 class='header-title'>
        Ejemplos de CSS y AstroDB<sup>by Madeval</sup>
      </h1>
    </header>
    <section class='content'>
      <DynamicProperties />
      <DynamicTitleCSS />
      <UsesOfDataset />
      <FaviconDependsOnTheBrowserTheme />
      <RenderMDX />
    </section>
  </main>
</Layout>

<style>
  main {
    min-height: 200dvh;
  }

  .header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: hsla(0, 0%, 10%, 0);
    border-bottom: 1px solid hsl(0 0% 100% / 0);
    width: 100%;
    padding: 2rem 2rem;
    animation: adjust-header-height linear both;
    animation-timeline: scroll();
    animation-range: 0px 100px;
    z-index: 1000;
  }

  .header-title {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    font-size: var(--text-lg);
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0px 100px;
  }

  .content {
    display: flex;
    gap: 8em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12em 2em;
  }

  .scroll-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.25rem;
    width: 100%;
    background-color: light-dark(
      var(--dark-transparent),
      var(--white-transparent)
    );
    transform: scaleX(0);
    transform-origin: 0 50%;
    animation: scroll-loader-animation linear both;
    animation-timeline: scroll();
    z-index: 1001;
  }

  @keyframes adjust-header {
    to {
      font-size: var(--text-base);
      opacity: 0.4;
    }
  }
  @keyframes adjust-header-height {
    to {
      padding: 0.25rem 1rem;
      border-bottom: 1px solid hsl(0 0% 100% / 0.125);
      background-color: hsla(0, 0%, 10%, 1);
    }
  }

  @keyframes scroll-loader-animation {
    to {
      transform: scaleX(1);
    }
  }
</style>
