<article class='article'>
  <header class='header'>
    <slot name='header' />
  </header>
  <div class='properties-content'>
    <slot name='body' />
  </div>
</article>

<style>
  .article {
    border: 1px solid light-dark(var(--border-light), var(--border-dark));
    border-radius: 0.5rem;
    background-color: light-dark(var(--white), var(--dark));
    position: relative;

    &::before {
      content: '';
      z-index: -1;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border-radius: 0.5rem;
      outline: 1px solid light-dark(var(--border-light), var(--border-dark));
      outline-offset: 4px;
      transform: translate(-50%, -50%);
      background: linear-gradient(
        to bottom,
        light-dark(var(--dark), var(--white)),
        light-dark(var(--white), var(--dark))
      );
    }
  }

  .header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid light-dark(var(--border-light), var(--border-dark));
    background-color: hsl(0 0% 0% / 0.4);
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .properties-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 2rem;
  }
</style>
