---

---

<article class='article'>
  <span data-tag='badge' id='badge' class='badge'
    >Obtener propiedades CSS con JavaScript</span
  >
  <p>Tamaño de la fuente: <span data-property='font-size'></span></p>
  <p>Radio de borde: <span data-property='border-radius'></span></p>
  <input type='range' min='0' max='100' value='8' step='8' />
</article>

<script>
  function getPropertiesOfElement(element: Element, properties: string[]) {
    const tylesOfElement = window.getComputedStyle(element)
    const valuesOfProperties = properties.map((property) => ({
      [property]: tylesOfElement.getPropertyValue(property),
    }))

    return valuesOfProperties
  }

  function printValuesOfProperties(
    properties: {
      element: Element
      property: string
    }[]
  ) {
    console.log({
      properties,
    })
    properties.forEach(({ element, property }) => {
      element.textContent = property
    })
  }

  const badgeElement = document.querySelector(
    '[data-tag="badge"]'
  ) as HTMLInputElement
  const fontSizeElement = document.querySelector('[data-property="font-size"]')
  const borderRadiusElement = document.querySelector(
    '[data-property="border-radius"]'
  )
  console.log(badgeElement)
  //if (badgeElement == null) throw new Error('No se encontró el elemento badge')

  const listOfPropertiesToGet = ['font-size', 'border-radius']
  const propertiesOfBadge = getPropertiesOfElement(
    badgeElement,
    listOfPropertiesToGet
  )

  const valueOfFontSize = propertiesOfBadge.find(
    (property) => property['font-size']
  )?.['font-size']

  const valueOfBorderRadius = propertiesOfBadge.find(
    (property) => property['border-radius']
  )?.['border-radius']

  if (!fontSizeElement || !borderRadiusElement) {
    throw new Error(
      'No se encontraron los elementos para mostrar las propiedades'
    )
  }

  printValuesOfProperties([
    { element: fontSizeElement, property: valueOfFontSize ?? '' },
    { element: borderRadiusElement, property: valueOfBorderRadius ?? '' },
  ])

  const rangeElement = document.querySelector(
    'input[type="range"]'
  ) as HTMLInputElement

  rangeElement.addEventListener('input', ({ target }: Event) => {
    if (target instanceof HTMLInputElement) {
      const value = target.value

      printValuesOfProperties([
        { element: borderRadiusElement, property: `${value}px` },
      ])

      badgeElement.style.borderRadius = `${value}px`
    }
  })
</script>

<style>
  .article {
    border: 1px solid light-dark(var(--border-light), var(--border-dark));
    padding: 2rem;
  }
  .badge {
    color: light-dark(var(--text-light), var(--text-dark));
    font-size: 1rem;
    padding: 0.5em 2em;
    border-radius: 0.5rem;
    border: 1px solid light-dark(var(--border-light), var(--border-dark));
    transition: background 0.125s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 400px;
    text-wrap: pretty;

    &:hover {
      background-color: light-dark(
        var(--dark-transparent),
        var(--white-transparent)
      );
    }

    &::after {
      content: 'Nuevo';
      display: block;
      font-size: 0.85em;
      padding: 0.25em 0.5em;
      border: 1px solid light-dark(var(--border-light), var(--border-dark));
      border-radius: 0.8rem;
    }
  }
</style>
